* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
}
input {
    color: #fff;
    background-color: #333;
}
span {
    color: #fff;
}

#numberInput {
    width: calc(100% - 41px);
    float: left;
}
#widthInput, #hightInput {
    margin-top: 5px;
    padding: 7.5px;
    width: 100px;
    height: 27px;
    border-radius: 13.5px;
    line-height: 21px;
    text-align: center;
}
#hightInput {
    color: #000;
    background-color: #9cf;
}

#clearButton {
    float: left;
    margin-top: 0;
    margin-left: 5px;
    padding: 0;
    border-radius: 18px;
    width: 36px;
    height: 36px;
    background-color: #333;
}
.cross{
    width: 30px;
    height: 30px;
}
.cross .lr,
.cross .rl {
    position: absolute;
    margin-top: 5px;
    height: 20px;
    width: 3px;
    border-radius: 1.5px;
    background-color: #6699cc;
    transform-origin: center;
    margin-left: 13.5px;
    transition: 0.5s;
}
.cross .lr{
    transform: rotate(-45deg);
}
.cross .rl{
    transform: rotate(45deg);
}
#clearButton:hover {
    background-color: #69c;
}
#clearButton:hover .cross .lr,
#clearButton:hover .cross .rl {
    background-color: #333;
    margin-top: 2.5px;
    height: 25px;
}
#clearButton:hover .cross .lr{
    transform: rotate(-135deg);
}
#clearButton:hover .cross .rl{
    transform: rotate(135deg);
}

#htmlOutput {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
#htmlOutput .line {
    margin-top: 8px;
    height: 12px;
    white-space: nowrap;
    font-size: 0;
}
#htmlOutput .line div {
    margin-left: 8px;
    width: 12px;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
    /* box-sizing: border-box; */
    /* white-space: normal; */
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    /* overflow: hidden; */
}
#htmlOutput .line:nth-child(1) {
    margin-top: 0;
}
#htmlOutput .line div:first-child {
    margin-left: 0;
}
.line .off {
    background-color: #000;
}
.line .on {
    background-color: #ff0000;
}